alias ls='ls --color=auto --classify --group-directories-first --human-readable'
alias update-alternatives-local="/usr/bin/update-alternatives --altdir $HOME/.local/etc/alternatives-local --admindir $HOME/.local/var/lib/alternatives-local"
alias explorer='/mnt/c/Windows/explorer.exe'
alias beep='/mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe rundll32 user32.dll,MessageBeep'
